<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h3>Angular <small>Custom Pipes</small></h3>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
        <h4>Shorten</h4>
        <p>
          A custom shortening pipe truncating text longer then 30 characters, but also parameterized to allow
          the length to be configured.  The textarea below binds to the variable <span class="code">shortenMsg</span>
          and displays in the following container. <br/> <code [innerHTML]="getShortenCmd()"></code>
        </p>
      </div>
  </div>

  <div class="row">
    <form [formGroup]="shortenForm">

    <div class="col-xs-3">
      <label for="limitInput">Limit</label>
      <input type="number"
             id="limitInput"
             name="limitInput"
             formControlName="limitInput"
             class="form-control"
             [(ngModel)]="limit">
    </div>
    <div class="col-xs-9">
        <label for="shortenText">Input text</label>
        <textarea
          id="shortenText"
          name="shortenText"
          formControlName="shortenText"
          class="form-control"
          row="4"
          cols="20"
          [(ngModel)]="shortenMsg">
            </textarea>
    </div>

    </form>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h5>Output <small>limit: {{limit}}</small></h5>
      <p *ngIf="shortenForm.valid; else invalidForm">{{shortenMsg | shorten:limit }} &nbsp;</p>
      <ng-template #invalidForm>
        <div class="alert alert-danger" role="alert">Shorten limit must be a positive, non-zero number.</div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Filter</h4>
      <p>
        A custom filter pipe for collections allowing users to specify the text to filter along with the property name of a
        Javascript object to filter against.
        <br/> <code [innerHTML]="getFilterCmd()"></code>
      </p>
    </div>
  </div>

  <form [formGroup]="filterForm">
    <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="filterText">Filter</label>
            <input type="text"
                id="filterText"
                name="filterText"
                [(ngModel)]="filterText"
                formControlName="filterText"
                class="form-control">
          </div>

          <div class="form-group">
            <label for="filterProp">Property</label>
            <select class="form-control"
              id="filterProp"
              name="filterProp"
              [(ngModel)]="filterProp"
              formControlName="filterProp">
              <option *ngFor="let p of filterProperties">{{p}}</option>
            </select>
          </div>
        </div>

        <div class="col-xs-9">
          <label>Filter Data</label>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let d of filterData | filter:filterText:filterProp">
              {{ d.name }}, {{ d.age }}, <span class="label label-default">{{ d.occupation }}</span></li>
          </ul>
        </div>
    </div>
  </form>

  <form [formGroup]="filterFormAdd">
    <div class="row">

      <div class="col-xs-3">
        <label for="nameField">Name</label>
        <input type="text"
          id="nameField"
          name="nameField"
          formControlName="nameField"
          placeholder="First and last..."
          class="form-control"
          required>
      </div>

      <div class="col-xs-3">
        <label for="ageField">Age</label>
        <input type="number"
          id="ageField"
          name="ageField"
          formControlName="ageField"
          class="form-control"
          required>
      </div>

      <div class="col-xs-3">
        <label for="occupationField">Occupation</label>
        <input type="text"
          id="occupationField"
          name="occupataionField"
          formControlName="occupationField"
          placeholder="Job title..."
          class="form-control"
          required>
      </div>

      <div class="col-xs-3">
        <button type="button"
          class="btn btn-primary label-adjust"
          (click)="onAddData()">Add</button>
      </div>
    </div>
  </form>

  <div class="row" style="margin-top:25px">
    <div class="col-xs-12">
      <div class='list-group'>
        <a class='list-group-item' href='https://floresj4.github.io/'>
          <span class='glyphicon glyphicon-home'></span> &nbsp; floresj4.github.io</a>
        <a class='list-group-item' href='https://github.com/Floresj4/angular-custom-pipes'>
          <span class='glyphicon glyphicon-console'></span> &nbsp; https://github.com/Floresj4/angular-custom-pipes</a>
      </div>
    </div>
  </div>
</div>
