<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h3>Angular <small>Custom Pipes</small></h3>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
        <h4>Shorten</h4>
        <p>
          A custom shortening pipe truncating text longer then 30 characters, but also parameterized to allow
          the length to be configured.  The textarea below binds to the variable <span class="code">shortenMsg</span>
          and displays in the following container. <code [innerHTML]="getShortenCmd()"></code>
        </p>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <label for="limitInput">Limit</label>
      <input type="number"
             id="limitInput"
             class="form-control"
             [(ngModel)]="limit">
    </div>
    <div class="col-xs-10">
        <label for="shortenText">Input text</label>
        <textarea
          id="shortenText"
          class="form-control"
          row="4"
          cols="20"
          [(ngModel)]="shortenMsg">
            </textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h5>Output <small>limit: {{limit}}</small></h5>
      <p>{{shortenMsg | shorten:limit }} &nbsp;</p>
    </div>
  </div>

  <div class="row" style="margin-top:25px">
    <div class="col-xs-12">
      <div class='list-group'>
        <a class='list-group-item' href='https://floresj4.github.io/'>
          <span class='glyphicon glyphicon-home'></span> &nbsp; floresj4.github.io</a>
        <a class='list-group-item' href='https://github.com/Floresj4/angular-custom-pipes'>
          <span class='glyphicon glyphicon-console'></span> &nbsp; https://github.com/Floresj4/angular-custom-pipes</a>
      </div>
    </div>
  </div>
</div>
